{% extends 'base.html.twig' %}

{% block title %}Mes properties{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="jumbotron">
    <h1> Mes properties</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam. Maecenas ligula massa, varius a, semper congue, euismod non, mi. Proin porttitor, orci nec nonummy molestie, enim est eleifend mi, non fermentum diam nisl sit amet erat. Duis semper. Duis arcu massa, scelerisque vitae, consequat in, pretium a, enim. Pellentesque congue. Ut in risus volutpat libero pharetra tempor. Cras vestibulum bibendum augue. Praesent egestas leo in pede. Praesent blandit odio eu enim. Pellentesque sed dui ut augue blandit sodales. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam nibh. Mauris ac mauris sed pede pellentesque fermentum. Maecenas adipiscing ante non diam sodales hendrerit.</p>
    <div class='container'>
        <div class='row flex'>
            {% for property in properties %}
                <div class="card">
                    <div class="card-body">
                        <h5 class='card-title'><a href="">{{ property.title }}</a></h5>
                        <p class="card-text">
                            {{ property.city }} | {{ property.postalCode}}
                        </p>
                        <p class="text-primary">{{ property.address }}</p>
                        <p class="text-primary">{{ property.price }} €</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<style>
    .jumbotron {
        padding: 2rem 1rem;
        margin-bottom: 2rem;
        background-color: #e9ecef;
        border-radius: .3rem;
        text-align: center;
    }
           
</style>
{% endblock %}
